* {
        padding: 0;
        margin: 0;
}
section {
        min-height: 100vh;
}
.header {
        padding-top: 100px;
        background: url(/bg.png) center center no-repeat;
}
.menu {
        display: flex;
        justify-content: center;
}
.menu a {
        margin-right: 100px;
        text-decoration: none;
        color: #fff;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 2.8px;
        text-transform: uppercase;
}
.menu a:last-child {
        margin-right: 0px;
}
.header-text {
        text-align: center;
        margin-top: 230px;
}
.header-text h1{
        color: #ffffff;
        font-size: 100px;
        font-weight: 700;
}
.header p {
        color: #ffffff;
        font-size: 30px;
        letter-spacing: 4.2px;
}
.header button {
        margin-top: 22px;
        padding: 20px 80px;
        cursor: pointer;
        background: transparent;
        color: #ffffff;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 2.52px;
        border: 2px solid #ffffff;
        transition: ease-in .25s all;
}
.header button:hover{
        background: #fff;
        color: #000;
        border-color: #000;
}
.about {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
}
.about-text span {
        color: #c4c4c4;
        font-size: 22px;
        font-weight: 500;
        letter-spacing: 3.08px;
}
.about-text h2 {
        margin-top: 32px;
        margin-bottom: 50px;
        color: #000000;
        font-size: 30px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 4.2px;
}
.about-text p {
        margin-bottom: 23px;
        color: #5b5b5c;
        font-size: 22px;
        font-weight: 400;
        letter-spacing: 3.08px;
}
.about-text button {
        margin-top: 22px;
        padding: 20px 80px;
        cursor: pointer;
        background: transparent;
        color: #000;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 2.52px;
        border: 2px solid #000f;
        transition: ease-in .25s all;
}
.about-text button:hover{
        background-color: #000;
        color: #fff;
        border-color: #000;
}
.photos {
        margin-top: 100px;
        text-align: center;
}
.photos h2 {
        margin-bottom: 50px;
        color: #000000;
        font-size: 32px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
        text-transform: uppercase;
        font-style: normal;
        letter-spacing: 7.2px;
        line-height: normal;
}
.photos p {
        margin-bottom: 50px;
        color: #5b5b5c;
        font-size: 28px;
        font-weight: 500;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
        text-transform: uppercase;
        font-style: normal;
        letter-spacing: 4.2px;
        line-height: normal;
}
.photos-wrap {
        margin-top: 200px;
}
.photos-wrap img {
        margin: 50px;
}
.company-text {
        text-align: center;
}
.company {
        margin-top: 300px;
        margin-bottom: 150px;
}
.company-text h2 {
        color: #000000;
        font-size: 32px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
        text-transform: uppercase;
        font-style: normal;
        letter-spacing: 7.2px;
        line-height: normal;
}
.company-text p {
        margin-top: 36px;
        margin-bottom: 65px;
        color: #5b5b5c;
        font-size: 28px;
        font-weight: 500;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
        font-style: normal;
        letter-spacing: 4.2px;
        line-height: normal;
}
.company-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
}
.company-block-1 {
        margin-right: 34px;
}
.company-block h3 {
        margin-top: 66px;
        color: #000000;
        font-size: 19px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: left;
        text-transform: uppercase;
        font-style: normal;
        letter-spacing: 6px;
        line-height: normal;
}
.company-block p {
        margin-top: 50px;
        color: #848484;
        font-size: 19px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 41px;
        text-align: left;
        font-style: normal;
        letter-spacing: 3.8px;
        line-height: normal;
}
.company-block button {
        cursor: pointer;
        padding: 13px 25px;
        border: none;
        color: #000000;
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 41px;
        text-align: left;
        text-transform: uppercase;
        font-style: normal;
        letter-spacing: 3.2px;
        line-height: normal;
        transition: ease-in 25s;
}

.company-block button:hover {
        background-color: #ccc;
}

.send {
        padding: 150px 0;
        background-color: #f4f4f4;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
}

.send-text {
        margin-right: 10px;
}

.send-text h2 {
        color: #000000;
        font-size: 30px;
        font-weight: 500;
        line-height: 41px;
        text-align: left;
        text-transform: uppercase;
        font-style: normal;
        letter-spacing: 4.2px;
        line-height: normal;
}

.send-text p {
        color: #5b5b5c;
        font-size: 18px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: left;
        font-style: normal;
        letter-spacing: 2.52px;
        line-height: normal;
}

input {
         margin-right: 39px;
        background: transparent;
        border: 2px solid #7a7a7a;
        padding: 27px 32px;
        color: #3a4047;
        font-size: 22px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: left;
        font-style: normal;
        letter-spacing: 3.08px;
        line-height: normal;
}

form button {
        cursor: pointer;
        border: none;
        padding: 27px 87px;
        background-color: #3a4047;
        color: #ffffff;
        font-size: 22px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: left;
        text-transform: uppercase;
        font-style: normal;
        letter-spacing: 3.08px;
        line-height: normal;
        transition: ease-in-out .25s;
}

form button:hover {
        background-color: #fff;
        color: #000;
        border: 2px solid #000;
}
.footer {
        text-align: center;
        padding: 95px 0;
        color: #000000;
        font-size: 18px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
        text-transform: uppercase;
        font-style: normal;
        letter-spacing: 6.12px;
        line-height: normal;
}

.footer-menu {
        margin-bottom: 66px;
}

.footer-menu a {
            margin-right: 55px;
            text-decoration: none;
            color: #000;
            font-size: 22px;
}

.footer-menu a:last-child {
            margin-right: 0;
}

.footer p:first-child {
    margin-bottom: 19px;
}

.footer-text {
    margin-bottom: 20px;
}